:root {
  --main-color: #4C84FF;
  --primary-bg-color: #fff;
  --secondary-bg-color: #eee;
  --primary-text-color: #222;
  --secondary-text-color: #666;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


html {
  
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

body {
padding: 0;
margin: 0;
  background: var(--secondary-bg-color);
}

body.dark-theme {
  --primary-bg-color: #252C48;
  --secondary-bg-color: #171C32;
  --primary-text-color: #fff;
  --secondary-text-color: #eee;
}

section {
  min-height: 100vh;
  padding: 1rem;
  padding: 0 8%;
}

.btn {
  display: inline-block;
  padding: .5rem 2.5rem;
  font-size: 1rem;
  background: none;
  color: var(--secondary-text-color);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  margin-top: 0.4rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  border: .2rem solid var(--main-color);
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5rem;
  background: var(--secondary-bg-color);
  height: 85%;
  width: 95%;
  z-index: -1;
  transition: .2s linear;
}

.btn:hover:before {
  top: 100%;
  transform: translate(-50%, 100%);
}

.btn:hover {
  color: #C9CDF3;
}

.heading {
  font-size: 5rem;
  color: var(--primary-text-color);
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

#menu {
  font-size: 1rem;
  background: var(--main-color);
  color: #fff;
  border-radius: 5rem;
  height: 3.7rem;
  width: 3.7rem;
  text-align: center;
  line-height: 3.7rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
  opacity: 0.8;
}

#menu.fa-times {
  transform: rotate(-180deg);
}

.pnavbar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem 1.5rem;
 
  z-index: 999;
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  background: var(--primary-bg-color);
  opacity: 0;
  transform-origin: top right;
  transform: scale(0);
}

.pnavbar.nav-toggle {
  opacity: 1;
  transform: scale(1);
}

.pnavbar a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  padding: 0.8rem;
  padding-right: 5rem;
  color: var(--primary-text-color);
}

.pnavbar a:hover {
  color: var(--main-color);
  transform: translateX(1rem);
}





.footer {
  padding: 2rem 0.6rem;
  text-align: center;
  font-size: 1rem;
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
  margin-top: 0.8rem;
}

.footer span {
  color: var(--main-color);
}

#theme-toggler {
  position: fixed;
  top: 5.5rem;
  right: 1rem;
  z-index: 998;
  height: 3.7rem;
  width: 3.7rem;
  line-height: 3.7rem;
  text-align: center;
  font-size: 1rem;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  border-radius: 5rem;
  opacity: 0.8;
}

#theme-toggler.fa-sun {
  transform: rotate(-180deg);
}
  .container {
    background: transparent;
    color:  var(--primary-text-color);
  }
  p{
  text-align: justify;
}
  .syntax{
    background: #DCDCDC;
    color: #2E2E2E;
    border: 0px solid #D7D7D7;
    border-radius: 1px;
    padding: 7px;
  }
    .notebox{
    border: 1px solid #5A5A5A;
    border-radius: 12px;
    background: transparent;
    justify-content: left;
    padding: 10px;
    margin-bottom: auto;
    border-left: 4.6px solid #6E69F9;
    box-shadow: 0.6px 0.7px 0.8px 0.9px #D0CEFF;
  }
  .para{
    padding-left: 9px;
    text-align: justify;
  }
  thead{
    color:  var(--primary-text-color);
  }
  tr{
    color:  var(--secondary-text-color);
  }
  .outc{
    background: #000000;
    color:#E6E8FF;
    padding: 6px;
  }
  
    .smbox {
      border: 0.8px solid var(--primary-text-color);
      justify-content: center;
      justify-items: center;
      padding: 1px;
  
      border-radius: 4px;
    }
   .card-body-body{
    text-justify: left;
    border:2px solid #9150FF;
    border-radius: 9px;
    padding: 19px;
  }
  .card-body-body:hover{
    background: #F5F7FF;
  } 
.page-item {
  padding-inline: 75px;
}
 .notebox2{
    border: 1px solid  #FFB56A;
    border-radius: 12px;
    background: transparent;
    justify-content: left;
    padding: 10px;
    margin-bottom: auto;
    border-left: 4.6px solid #FF8000;
    box-shadow: 0.6px 0.7px 0.8px 0.9px #FFE6CC;
  }
    .outc2{
    background: #000000;
    color:#E6E8FF;
    padding: 12px;
  }
  